# Created by https://www.toptal.com/developers/gitignore/api/git
# Edit at https://www.toptal.com/developers/gitignore?templates=git

# Created by git when using merge tools for conflicts
.github/

# End of https://www.toptal.com/developers/gitignore/api/git
